.flex-container {
	display: flex;
	justify-content: center;
}

.flex-header {
	display: flex;
	justify-content: center;
}

.flex-header h1 {
	font-family: "Indie Flower", cursive;
	font-size: 5em;
}

.buttons {
	padding: 1em;
}

.buttons button {
	width: 20em;
	height: 7em;
	margin: 1em;
	background-color: #fff;
}

.flex-scores {
	display: flex;
	justify-content: center;
}

.flex-scores p {
	padding: 5em;
}

.flex-selections {
	display: flex;
	justify-content: center;
}

.flex-selections p {
	margin-left: 4em;
}

.flex-winner {
	display: flex;
	justify-content: center;
}