.hide {
	display: none;
}

.flex-header {
	display: flex;
	justify-content: center;
}

.flex-header h1 {
	font-family: "Indie Flower", cursive;
	font-size: 5em;
}

.flex-start {
	display: flex;
	justify-content: center;
}

.flex-start button {
	margin-bottom: 1.5em;
	font-size: 2em;
	background-color: #fff;
	color: #8a8e8b;
	border-radius: 14px;
	border: 1px solid transparent
}

.flex-start button:hover {
	color: #000;
	border: 1px solid #ccc;
	background-color: #8a8e8b;
}

.flex-buttons {
	display: flex;
	justify-content: center;
}

.button-choice button {
	width: 20em;
	height: 7em;
	margin: 1em;
	font-size: 1.5em;
	font-weight: bold;
	background-color: #fff;
	color: #8a8e8b;
	border-radius: 14px;
	border: 1px solid transparent
}

.button-choice button:hover {
	color: #000;
	border: 1px solid #ccc;
	background-color: #8a8e8b;
}

.flex-scores {
	display: flex;
	justify-content: center;
}

.flex-scores p {
	padding: 1em;
	font-size: 2em;
}

.flex-scores span {
	font-size: 2em;
}

.flex-selections {
	display: flex;
	justify-content: center;
}

.flex-selections p {
	padding: 1em;
	font-size: 1.5em;
}

.game-status {
	display: flex;
	justify-content: center;
}

.game-status p {
	font-size: 1.5em;
}

.footer {
	position: absolute;
	bottom: 0;
	margin-top: 1em;
}

.footer a {
	color: #787d84;
	text-decoration: none;
}

.footer a:hover {
	color: #000;
}
