.hide {
	display: none;
}

.flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.flex-header h1 {
	font-family: "Indie Flower", cursive;
	font-size: 4em;
}

.flex-start button {
	margin-bottom: 1.5em;
	font-size: 2em;
	background-color: #fff;
	color: #8a8e8b;
	border-radius: 14px;
	border: 1px solid transparent;
}

.flex-start button:hover {
	color: #000;
	border: 1px solid #ccc;
	background-color: #8a8e8b;
}

.button-choice button {
	height: 2em;
	width: 5em;
	margin: 1em;
	font-size: 2em;
	font-weight: bold;
	background-color: #fff;
	color: #8a8e8b;
	border-radius: 14px;
	border: 1px solid transparent
}

.button-choice button:hover {
	color: #000;
	border: 1px solid #ccc;
	background-color: #8a8e8b;
}

.game-status p {
	font-size: 1.5em;
}
